{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <form action="/api/upload-images" class="dropzone" id="images-dropzone"></form>
    </div>
    <div class="col-md-3">
        <form action="/api/upload-pattern" class="dropzone" id="pattern-dropzone"></form>
        <div class="alert alert-info" id="form-info"></div>
        <div class="alert alert-success" id="form-success"></div>
        <div class="alert alert-danger" id="form-error"></div>
        <p><a href="/result" class="btn btn-primary btn-large">Find Matches</a></p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js" type="text/javascript"></script>
<script src="/static/scripts/index.js" type="text/javascript"></script>
{% endblock %}
