{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <form action="/api/upload-images" class="dropzone" id="imagesDropzone"></form>
    </div>
    <div class="col-md-3">
        <form action="/api/upload-pattern" class="dropzone" id="patternDropzone"></form>
        <p><a href="/api/find-matches" class="btn btn-primary btn-large" id="startButton">Find Matches</a></p>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js" type="text/javascript"></script>
<script src="/static/scripts/app.js" type="text/javascript"></script>
{% endblock %}
