body {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #f1f2f7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px 15px 0px 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* CUSTOM */

.alert {
    display:none;
}

.dropzone {
    border: 2px dashed #999999;
}

.box {
    border-radius: 5px;
    background: white;
}

.big-box {
    min-height: 400px;
}

@media screen and (max-width: 767px) {
    .big-box {
        margin-bottom: 20px;
    }
}

.small-box {
    height: 200px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

#result-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.result-item {
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    text-align: center;
}

.result-item:last-child {
    margin-bottom: 0px;
}

@media screen and (min-width: 992px) {
    .result-item {
        margin-right: 10px;
        width: calc(50% - 10px);
        float: left;
        color: #555555;
    }
}

.img-wrapper {position: relative;}

.result-item .img-wrapper{
    width: 120px;
    height: 120px;
    float: left;
    border-radius: 5px;
    background-color: #F4F4F4;
    margin-right: 30px;
}

.result-item img, #pattern img {
    position: absolute;
    margin: auto;
}

.result-item img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
}

#pattern img {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
}

.result-item .score-wrapper {
    float: left;
    margin-right: 30px;
}

.result-item .score {margin-top: 20px;font-size: 2.5em;font-weight: 200;}

.unit {font-size: 0.7em;margin-left: 5px;font-weight: normal;}

.result-item .metric-name {text-transform: uppercase;letter-spacing: 0.5px;font-weight: 200;font-size: 0.9em;}

.result-item .match-wrapper .fa{
    font-size: 3rem;
    margin-top: 20px;
    line-height: 50px;
}

.result-item .match-wrapper {float: left;min-width: 68px;}

.match-icon {
    color: #9cd09c;
}

.no-match-icon {
    color: #d0d0d0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

.btn-primary {
    background-color: #4966c6 !important;
    border-color: #324c9e !important;
}

.btn-primary:hover {
    background-color: #324c9e;
    border-color: #213b8d;
}

.disabled-button, .disabled-button:active, .disabled-button:focus, .disabled-button:visited, .disabled-button:hover {
    background-color: #DDDDE2 !important;
    border-color: #CCCCD2 !important;
}

.navbar-inverse {
    background-color: #344da0;
    border-color: #324c9e;
    border-width: 0 0 2px;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #EEEEEE;
}

.navbar-nav>li>a {
    line-height: 20px;
}

#logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-inverse .navbar-toggle {
    border-color: #DDDDDD;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255,255,255,0.3);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #DDDDDD;
}

.dz-default.dz-message {
    color: #607D8B;
}

.big-box .dz-default.dz-message {
    margin-top: 150px;
    font-size: 1.5em;
}

.small-box .dz-default.dz-message {
    margin-top: 50px;
}

footer {
    text-align: center;
}

hr {
    border-color: #DDDDDD;
    margin: 40px 0px;
